<form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="alogin( f )" id="aloginf" action="chat.html">
    <h3 class="box-title m-b-20">Ir al LOGIN</h3>
    <div class="form-group ">
        <div class="col-xs-12 p-b-20">
            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingresar al Login</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $(".preloader").fadeOut();
    });
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>